openapi: 3.2.0
info:
  title: Hiring Index Job API
  version: 1.0.0
  description: 'More than a million and a half live job postings, read straight from the

    applicant tracking systems companies actually hire on — Workday,

    SmartRecruiters, Greenhouse, Workable, Lever, Ashby, Recruitee, Teamtailor,

    Breezy, Personio, Hireology, PageUp and Zoho Recruit.'
servers:
- url: https://hiringindex.p.rapidapi.com
  description: RapidAPI listing (send X-RapidAPI-Key and X-RapidAPI-Host)
security:
- rapidApiKey: []
tags:
- name: Job
  description: A single job posting by id
paths:
  /jobs/{id}:
    get:
      tags:
      - Job
      operationId: getJob
      summary: One posting by id
      description: 'The same object a search returns for that posting, including the

        description where the source publishes one.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Value of `_id` from a search response, used verbatim
        example: YXNoYnl8YWxtZWRpYXwxOGM1YmNhOS01MmM5LTRkZWMtOGJmYi1jNmUyNzZkYWNlZGF8MA
      responses:
        '200':
          description: The posting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
              examples:
                almedia:
                  summary: Captured 2026-09-10 (description shortened)
                  value:
                    _id: YXNoYnl8YWxtZWRpYXwxOGM1YmNhOS01MmM5LTRkZWMtOGJmYi1jNmUyNzZkYWNlZGF8MA
                    source_platform: ashby
                    handle: almedia
                    source_job_id: 18c5bca9-52c9-4dec-8bfb-c6e276daceda
                    record_index: 0
                    title: Senior Growth Manager (Berlin)
                    company_name: Almedia
                    description: <p style="min-height:1.5em">This isn’t your regular job. Almedia is a place where those wh…
                    posted_at: '2026-09-09T14:43:52.483+00:00'
                    posted_at_raw: '2026-09-09T14:43:52.483+00:00'
                    posting_url: https://jobs.ashbyhq.com/almedia/18c5bca9-52c9-4dec-8bfb-c6e276daceda
                    apply_url: https://jobs.ashbyhq.com/almedia/18c5bca9-52c9-4dec-8bfb-c6e276daceda/application
                    location_raw: Berlin
                    city: Berlin
                    region: Berlin
                    country: Germany
                    country_code: DE
                    postal_code: '10117'
                    remote_flag: 'false'
                    employment_type: FullTime
                    department: Growth
                    team: Advertiser Growth
                    salary_text: €75K – €100K • Offers Equity • Offers Bonus
                    salary:
                      min: 75000
                      max: 100000
                      currency: EUR
                      period: 1 YEAR
                      source: vendor_field
                      confidence: stated
                    first_seen_at: '2026-09-10T02:50:23.085014+00:00'
                    fetched_at: '2026-09-10T02:50:23.085014+00:00'
                    content_hash: daca92c9fc8dc1ee05fc31644fb8e25c7b63503861d3a4475421e7113bb7048d
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No posting with that id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: not_found
                message: that is not an id this API issued. An _id comes from a search response and is used verbatim.
                meta:
                  request_id: 86ae6ea2dab6b6f5f07e54e1af0b97e0
                  took_ms: 0.27
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Busy'
components:
  responses:
    Unauthorized:
      description: 'Missing or invalid key. Answered by the marketplace before the request

        reaches this API, in its own shape — `message` only, no `error`.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarketplaceError'
    Busy:
      description: Capacity exhausted for the moment (`busy`), or the filter did not finish inside the statement deadline (`timeout`). Retry after `retry_after_seconds`, or narrow the filter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 'A valid key without a subscription to this API. Answered by the

        marketplace, `message` only.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarketplaceError'
          example:
            message: You are not subscribed to this API.
    RateLimited:
      description: Plan quota or rate limit exceeded. Answered by the marketplace; see its rate-limit headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarketplaceError'
  schemas:
    Error:
      type: object
      description: Every error this API itself returns. Branch on `error`, not on `message`.
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Short code for the client to branch on.
          example: invalid_request
          enum:
          - invalid_request
          - keyword_too_common
          - not_found
          - busy
          - timeout
        message:
          type: string
          description: Human-readable explanation; wording may change.
        retry_after_seconds:
          type: integer
          description: '`busy` and `timeout` only: how long to wait before retrying — 1 second for `busy`, 2 for `timeout`.'
        meta:
          type: object
          properties:
            request_id:
              type: string
            took_ms:
              type: number
            term:
              type: string
              description: '`keyword_too_common` only: the keyword that was refused.'
            estimated_matches:
              type: integer
              description: '`keyword_too_common` only: roughly how many postings mention it.'
            limit:
              type: integer
              description: '`keyword_too_common` only: the ceiling a keyword must stay under.'
    Job:
      type: object
      description: 'One posting. A field the source did not state is absent — never null,

        never an empty string. Location fields are flat: a posting listed in

        several places arrives as several rows that differ in `record_index`.

        '
      required:
      - _id
      - source_platform
      - handle
      - source_job_id
      - record_index
      - title
      - first_seen_at
      - fetched_at
      - content_hash
      properties:
        _id:
          type: string
          description: Stable id; pass it to `GET /jobs/{id}` verbatim.
          example: YXNoYnl8YWxtZWRpYXwxOGM1YmNhOS01MmM5LTRkZWMtOGJmYi1jNmUyNzZkYWNlZGF8MA
        source_platform:
          type: string
          description: The ATS the posting was read from.
          example: ashby
        handle:
          type: string
          description: The employer's board on that ATS — also a filter (`handles`).
          example: almedia
        source_job_id:
          type: string
          description: The posting's id on its ATS.
        record_index:
          type: integer
          description: Which of the posting's locations this row is, from 0.
          example: 0
        requisition_id:
          type: string
          description: The employer's requisition number.
        title:
          type: string
          example: Senior Growth Manager (Berlin)
        company_name:
          type: string
          description: The employer as the source names it. Absent where the ATS does not publish it (Workday, often Ashby).
          example: Almedia
        description:
          type: string
          description: The posting body as the source publishes it (HTML).
        detail:
          type: object
          description: 'A second read of the posting page, for sources whose listing omits

            fields. `filled` names the top-level fields it supplied.

            '
          properties:
            fetched_at:
              type: string
              format: date-time
            description:
              type: string
              description: The posting body from that page (HTML).
            filled:
              type: array
              items:
                type: string
              example:
              - country
              - posting_url
        posted_at:
          type: string
          description: 'The employer''s publication date, normalised: `YYYY-MM-DD` or a full

            ISO 8601 timestamp, depending on how precisely the source states it.

            Absent when the source gives only a relative phrase.

            '
          example: '2026-09-09T14:43:52.483+00:00'
        posted_at_raw:
          type: string
          description: The publication date exactly as the vendor wrote it.
          example: Posted 10 Sept 2026
        updated_at:
          type: string
          description: When the source last changed the posting, where it says.
        updated_at_raw:
          type: string
        posting_url:
          type: string
          format: uri
          description: The posting on the employer's ATS.
        apply_url:
          type: string
          format: uri
          description: The employer's own application form, where the source carries one.
        location_raw:
          type: string
          example: Berlin
        city:
          type: string
          example: Berlin
        region:
          type: string
          example: Berlin
        country:
          type: string
          example: Germany
        country_code:
          type: string
          description: ISO 3166-1 alpha-2, in the case the source wrote it (`DE`, `us`).
          example: DE
        postal_code:
          type: string
        street_address:
          type: string
        latitude:
          type: string
          description: Decimal degrees, as a string.
        longitude:
          type: string
          description: Decimal degrees, as a string.
        remote_flag:
          type: string
          description: 'A string, not a boolean — usually `"true"` or `"false"`, sometimes the

            vendor''s own word (`"remote"`). Test the value, not its truthiness.

            '
          example: 'false'
        hybrid_flag:
          type: string
          description: '`"true"` or `"false"`, as a string.'
        employment_type:
          type: string
          description: As the vendor writes it (`Full-time`, `FullTime`, `fulltime_permanent` …).
          example: FullTime
        seniority:
          type: string
          description: As the vendor writes it (`Mid-Senior Level`, `Associate`, `experienced` …).
        industry:
          type: string
        function:
          type: string
        department:
          type: string
          example: Growth
        team:
          type: string
          example: Advertiser Growth
        education_level:
          type: string
        language:
          type: string
          description: Language of the posting, ISO 639-1.
          example: en
        salary:
          $ref: '#/components/schemas/Salary'
        salary_text:
          type: string
          description: The pay line exactly as advertised.
          example: €75K – €100K • Offers Equity • Offers Bonus
        first_seen_at:
          type: string
          format: date-time
          description: When this index first saw the posting.
        fetched_at:
          type: string
          format: date-time
          description: When the source was last read. Sources are re-read daily.
        content_hash:
          type: string
          description: Hash of the posting content — changes when the posting changes.
    Salary:
      type: object
      description: 'The pay the employer advertises, as the employer states it: numbers in

        the posting''s own currency and period. `period` is the vendor''s spelling

        (`1 YEAR`, `year`, `per-year-salary`, `month`, `1 HOUR` …). Either end of

        the band can be absent when the employer gives only one.

        '
      properties:
        min:
          type: number
          example: 75000
        max:
          type: number
          example: 100000
        currency:
          type: string
          description: ISO 4217
          example: EUR
        period:
          type: string
          example: 1 YEAR
        source:
          type: string
          description: Where the band was read from.
          example: vendor_field
        confidence:
          type: string
          example: stated
    MarketplaceError:
      type: object
      description: Shape of 401, 403 and 429, which the marketplace answers before the request reaches this API.
      properties:
        message:
          type: string
  securitySchemes:
    rapidApiKey:
      type: apiKey
      in: header
      name: x-rapidapi-key
